## Instalaciones

In [ ]:
!pip install locationtagger
!pip install geopy
!pip install spacy
!pip install geonamescache

## Importaciones

In [ ]:
import pandas as pd
import spacy
import time
from geopy.geocoders import Nominatim
from geonamescache import GeonamesCache
import numpy as np
import math
import locationtagger
import nltk
nltk.downloader.download('maxent_ne_chunker')
nltk.downloader.download('words')
nltk.downloader.download('treebank')
nltk.downloader.download('maxent_treebank_pos_tagger')
nltk.downloader.download('punkt')
nltk.download('averaged_perceptron_tagger')

## Carga de datos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df_inicial = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Half_Ironman_df6.csv')
df_inicial

Mounted at /content/drive

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
840070,M,50-54,50,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2054,261,10527,160,6070,19072
840071,M,40-44,40,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2449,352,11866,265,8461,23393
840072,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Steelhead,2171,357,11433,332,7754,22047
840073,F,35-39,35,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2100,193,10280,233,6148,18954
840074,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2096,244,10630,273,6155,19398

## Se carga ciudad en nueva columna

In [ ]:
# Extracción de los nombres de los eventos
eventos = df_inicial['EventLocation'].unique()
eventos

### Se define una función para obtener la ciudad a partir del nombre del evento.

In [ ]:
nlp = spacy.load("en_core_web_sm")

gc = GeonamesCache() #Instancia de GeonamesCache para obtener las ciudades a patir textos

ciudades = gc.get_cities()
nombres_ciudad = [city['name'] for city in ciudades.values()]

def obtener_lugar(texto):
  '''Obtiene ciudades a partir de un texto,
     se utilizara para extraer las ciudades
     del nombre de los eventos.'''
  lugar_entidad = locationtagger.find_locations(text = texto)
  ciudades = lugar_entidad.cities
  regiones = lugar_entidad.regions
  paises = lugar_entidad.countries
  if len(ciudades) > 0:
    return ciudades[0]
  if len(regiones) > 0:
    return regiones[0]
  if len(paises) > 0:
    return paises[0]
  doc = nlp(texto)
  for ent in doc.ents:
    if ent.label_ == "GPE":
      ciudad = ent.text
      if ciudad != '':
        return ciudad
  for ciudad in nombres_ciudad:
    if ciudad in texto.split(' '):
      return ciudad

In [ ]:
eventos_con_lugar = {}

for evento in eventos:
  eventos_con_lugar[evento] = obtener_lugar(evento)

#### Los diccionarios no tienen método head, se realiza el siguiente paso para visualizar algunos datos.

In [ ]:
n_max = 10
primeros_eventos = {k: eventos_con_lugar[k] for i, k in enumerate(eventos_con_lugar) if i < n_max}

for clave, valor in primeros_eventos.items():
    print(clave,"||| Ciudad --->" ,valor)

IRONMAN 70.3 South American Championship Buenos Aires ||| Ciudad ---> Buenos Aires
IRONMAN 70.3 Bariloche ||| Ciudad ---> None
IRONMAN 70.3 World Championship ||| Ciudad ---> None
IRONMAN 70.3 Victoria ||| Ciudad ---> Victoria
IRONMAN 70.3 Marrakech ||| Ciudad ---> None
IRONMAN 70.3 Santa Cruz ||| Ciudad ---> Santa Cruz
IRONMAN 70.3 Dublin ||| Ciudad ---> Dublin
IRONMAN 70.3 Taiwan ||| Ciudad ---> Taiwan
IRONMAN 70.3 Texas ||| Ciudad ---> Texas
IRONMAN 70.3 Mallorca ||| Ciudad ---> None

#### Se observa que quedan algunos eventos sin ciudad.

### Se agrega el Lugar al dataframe con el resto de datos.

In [ ]:
df_con_lugar = df_inicial.copy()
df_con_lugar['Lugar'] = df_con_lugar['EventLocation'].map(eventos_con_lugar)

# Eventos con lugar es un diccionario donde la key es EventLocation y el value es la ciudad
# La funcióm map asigna a la columna Lugar, la ciudad asociada al EventLocation que es clave.
# Es equivalente a que eventos_con_lugar sea un dataframe con dos columnas, EventLocation y ciudad
# y hacer un join con df_con_lugar por la clave EventLocation.

### Se agrega manualmente el lugar del evento, para los cuales la función obtener_lugar no devolvio nada.

In [ ]:
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bariloche', 'Lugar'] = 'San Carlos de Bariloche'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Marrakech', 'Lugar'] = 'Marrakech'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mallorca', 'Lugar'] = 'Mallorca'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Middle East Championship Bahrain', 'Lugar'] = 'Bahrain'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Gulf Coast', 'Lugar'] = 'Gulf Coast'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Eagleman', 'Lugar'] = 'Maryland'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Steelhead', 'Lugar'] = 'Michigan'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship Elsinore', 'Lugar'] = 'Elsinore'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Lanzarote', 'Lugar'] = 'Lanzarote'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Ruegen', 'Lugar'] = 'Ruegen'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Lanzarote', 'Lugar'] = 'Lanzarote'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Indian Wells La Quinta', 'Lugar'] = 'Indian Wells'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Staffordshire', 'Lugar'] = 'Staffordshire'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See-Kaprun', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Timberman', 'Lugar'] = 'Laconia'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Muskoka', 'Lugar'] = 'Huntsville'
df_con_lugar.loc[df_con_lugar['EventLocation'] == "IRONMAN 70.3 Pays D'Aix", 'Lugar'] = 'Aix-En-Provence'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Sunshine Coast', 'Lugar'] = 'Mooloolaba'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Kronborg', 'Lugar'] = 'Elsinore'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bintan', 'Lugar'] = 'Bintan'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Silverman', 'Lugar'] = 'Nevada'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bahrain', 'Lugar'] = 'Bahrain'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mont-Tremblant', 'Lugar'] = 'Mont-Tremblant'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Cancun', 'Lugar'] = 'Cancun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN Lake Tahoe', 'Lugar'] = 'Lake Tahoe'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Vineman', 'Lugar'] = 'Guerneville'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mooseman', 'Lugar'] = 'Newfound Lake'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Superfrog', 'Lugar'] = 'Imperial Beach'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Kraichgau', 'Lugar'] = 'Kraichgau'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Emilia Romagna', 'Lugar'] = 'Cervia'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bangsaen', 'Lugar'] = 'Bangsaen'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See Kaprun', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Los Cabos', 'Lugar'] = 'Los Cabos'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Alagoas', 'Lugar'] = 'Maceió'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Langkawi', 'Lugar'] = 'Langkawi'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Foz do IguaÃ§u', 'Lugar'] = 'Foz Do Iguaçu'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Dun Laoghaire', 'Lugar'] = 'Dublin'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Florianopolis', 'Lugar'] = 'Florianopolis'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Jonkoping', 'Lugar'] = 'Jönköping'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Maceio', 'Lugar'] = 'Maceió'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Korea', 'Lugar'] = 'Goseong'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Otepaa', 'Lugar'] = 'Otepää'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Pocono Mountains', 'Lugar'] = 'Stroudsburg'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Jeju', 'Lugar'] = 'Jeju-do'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Asia-Pacific', 'Lugar'] = 'Phuket'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Asia-Pacific Championship', 'Lugar'] = 'Cebú'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Pan American Pro Championship Panama', 'Lugar'] = 'Panamá'

# Campeonatos europeos
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2011), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2012), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2013), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2014), 'Lugar'] = 'Wiesbaden'

# Campeonatos mundiales
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2006), 'Lugar'] = 'Clearwater'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2009), 'Lugar'] = 'Clearwater'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2011), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2012), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2013), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2014), 'Lugar'] = 'Mont-Tremblant'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2015), 'Lugar'] = 'Kaprun'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2016), 'Lugar'] = 'Mooloolaba'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2017), 'Lugar'] = 'Chattanooga'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2018), 'Lugar'] = 'Nelson Mandela Bay'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2019), 'Lugar'] = 'Nice'

In [ ]:
df_con_lugar.head()

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime,Lugar
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514,Buenos Aires
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609,Buenos Aires
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031,San Carlos de Bariloche
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527,Nice
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008,Nice

## Función que obtiene la Longitud y la Latitud del lugar del evento.

In [ ]:
# Inicialización del geocoder
geolocator = Nominatim(user_agent="my_geocoder")

def get_latitud_longitud(lugar):
  '''Devuelve latitud y longitud de un lugar'''
  if lugar != None:
    location = geolocator.geocode(lugar)
    return location.latitude, location.longitude
  # Si no hay lugar, devuelve nan nan
  return np.nan, np.nan

In [ ]:
lugares = set(df_con_lugar['Lugar'])
lugares_con_latitud_longitud = {}
for lugar in lugares:
  lugares_con_latitud_longitud[lugar] = get_latitud_longitud(lugar)

# lugares_con_latitud_longitud es un diccionario, donde la key es el lugar del evento y el value la latidud y longitud

## Se carga latitud y longitud

In [ ]:
df_con_lugar['Latitud'] = df_con_lugar['Lugar'].map(lambda lugar: lugares_con_latitud_longitud[lugar][0])
df_con_lugar['Longitud'] = df_con_lugar['Lugar'].map(lambda lugar: lugares_con_latitud_longitud[lugar][1])
df_con_lugar

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime,Lugar,Latitud,Longitud
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514,Buenos Aires,-34.607568,-58.437089
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609,Buenos Aires,-34.607568,-58.437089
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031,San Carlos de Bariloche,-41.133442,-71.309843
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527,Nice,43.700936,7.268391
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008,Nice,43.700936,7.268391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840070,M,50-54,50,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2054,261,10527,160,6070,19072,South Africa,-28.816624,24.991639
840071,M,40-44,40,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2449,352,11866,265,8461,23393,South Africa,-28.816624,24.991639
840072,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Steelhead,2171,357,11433,332,7754,22047,Michigan,43.621195,-84.682435
840073,F,35-39,35,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2100,193,10280,233,6148,18954,Budapest,47.481390,19.146094
840074,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2096,244,10630,273,6155,19398,Budapest,47.481390,19.146094

## Se agrega el país de cada evento

In [ ]:
def obtener_pais(latitud, longitud):
    geolocator = Nominatim(user_agent='my_app')
    geolocator.headers['Accept-Language'] = 'en'
    ubicacion = geolocator.reverse(f"{latitud}, {longitud}", exactly_one=True)
    if ubicacion:
        direccion = ubicacion.raw['address']
        pais = direccion.get('country')
        return pais
    else:
        return None

#### Se crea un nuevo dataframe que contenga las Latitudes y Longitudes, sin duplicados.

In [ ]:
ciudades = df_con_lugar[['Latitud','Longitud']].drop_duplicates()

ciudades.reset_index(inplace= True)

In [ ]:
paises = {}

for ciudad in range(len(ciudades)):
  paises[ciudades.loc[ciudad, 'Latitud']] = obtener_pais(ciudades.loc[ciudad, 'Latitud'], ciudades.loc[ciudad, 'Longitud'])

#### Se agrega el país.

In [ ]:
df_con_lugar['Pais'] = df_con_lugar['Latitud'].map(lambda pais: paises[pais])

In [ ]:
df_con_lugar.to_csv('/content/drive/MyDrive/Colab Notebooks/df_completo.csv', index = False)

### Se crea un dataframe con los datos de los eventos, sin duplicados para poder generar los nodos de la base de datos.

In [ ]:
lugares = df_con_lugar[['EventLocation', 'Lugar', 'Latitud', 'Longitud', 'Pais', 'EventYear']].drop_duplicates()

In [ ]:
lugares.reset_index(inplace= True)

In [ ]:
lugares['EsMundial'] = lugares['EventLocation'] == 'IRONMAN 70.3 World Championship'
lugares.to_csv('/content/drive/MyDrive/Colab Notebooks/ciudades_paises.csv', index = True)

### Se crea un dataframe con los paises, tanto de los eventos como de los participantes

In [ ]:
paises_competidores = df_con_lugar['Country'].drop_duplicates().to_frame()
paises_competidores.reset_index(inplace = True)

In [ ]:
paises_competencias = df_con_lugar['Pais'].drop_duplicates().to_frame()
paises_competencias.reset_index(inplace = True)

In [ ]:
# Necesario para crear los nodos de paises que no son de eventos.
paises_que_faltan = paises_competidores['Country'][~paises_competidores['Country'].isin(paises_competencias['Pais'])].dropna()

In [ ]:
paises_que_faltan.head(20)

0                    Andorra
2                Afghanistan
3        Antigua and Barbuda
4                   Anguilla
5                    Albania
6                    Armenia
7                     Angola
8                 Antarctica
10            American Samoa
13                     Aruba
14             Aland Islands
15                Azerbaijan
16    Bosnia and Herzegovina
17                  Barbados
18                Bangladesh
19                   Belgium
20              Burkina Faso
21                  Bulgaria
23                   Burundi
24                     Benin
Name: Country, dtype: object

In [ ]:
paises_que_faltan.to_csv('/content/drive/MyDrive/Colab Notebooks/paises_faltantes.csv', index = False)